html{
    box-sizing: border-box;
}

*::before,
*::after,
*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( 45deg, magenta 30%, blue, black);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    background-color: white;
    margin-top: 100px;
    padding: 50px;
}

.first, .second{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: solid 1px black;
}

label{
    width: 85%;
    border: solid 1px black;
}

label span{
    display: inline-block;
    width: 85px;
}

input{
    display: inline-block;
}

.get-sum, .get-arr{
    display: inline-flex;
    width: 85%;
    border: solid 1px black;
    overflow: scroll;
}